@page "/"
@using ecocraft.Extensions
@using ecocraft.Models
@using ecocraft.Services
@inject EcoCraftDbContext DbContext
@inject UserSkillDbService UserSkillDbService
@inject UserCraftingTableDbService UserCraftingTableDbService
@inject ContextService ContextService
@inject ServerDataService ServerDataService

<PageTitle>Price Calculator</PageTitle>

<MudContainer>
	<MudGrid>
		<!-- Première Colonne -->
		<MudItem sm="4" Class="border-solid border-2 mud-border-primary pa-4">
			<MudSelect T="Skill" Text="Choisissez vos compétences" SelectedValues=selectedSkills Label="Choisissez vos compétences" MultiSelection="true" Dense="true" Variant="Variant.Outlined" SelectedValuesChanged="OnSelectedSkillsChanged" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
				@foreach (var skill in ServerDataService.Skills)
				{
					<MudSelectItem T="Skill" Value="@skill">@skill.Name</MudSelectItem>
				}
			</MudSelect>


			<MudTable Items="userSkills" Dense="true">
				<HeaderContent>
					<MudTh>Name</MudTh>
					<MudTh>Niveau</MudTh>
					<MudTh></MudTh>
				</HeaderContent>
				<RowTemplate>
					<MudTd>@context.Skill.Name</MudTd>
						<MudTd>
							<MudNumericField HideSpinButtons="true" T="int" Value=@context.Level Variant="Variant.Text" Min="0" Max="7" Style="width: 24px;" Immediate="true" ValueChanged="(int newValue) => OnLevelChanged(context,newValue)" />
						</MudTd>
						<MudTd>
							<MudIconButton Icon="@Icons.Material.Filled.Clear" aria-label="delete" Size="Size.Small"></MudIconButton>
						</MudTd>
					</RowTemplate>
				</MudTable>

				<MudDivider DividerType="DividerType.FullWidth" Class="my-6" />

				<MudSelect T="CraftingTable" Text="Choisissez une table..." SelectedValues=selectedCraftingTables Label="Choisissez une table..." MultiSelection="true" Dense="true" Variant="Variant.Outlined" SelectedValuesChanged="OnSelectedCraftingTablesChanged" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
					@foreach (var table in ServerDataService.CraftingTables)
				{
					<MudSelectItem T="CraftingTable" Value="@table">@table.Name</MudSelectItem>
				}
				</MudSelect>

			  <MudTable Items="userCraftingTables" Dense="true">
				<HeaderContent>
					<MudTh>Name</MudTh>
					<MudTh>Upgrade</MudTh>
					<MudTh></MudTh>
				</HeaderContent>
				<RowTemplate>
					<MudTd>@context.CraftingTable.Name</MudTd>
					<MudTd>
						<MudSelect T="PluginModule" Text="Choisissez un upgrade" Value="context.PluginModule" Label="Choisissez un upgrade" Dense="true" Variant="Variant.Outlined" ValueChanged="(PluginModule newPluginModule) => OnSelectedPluginModuleChanged(context, newPluginModule)" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
							@foreach (var pluginModule in context.CraftingTable.PluginModules)
						{
							<MudSelectItem T="PluginModule" Value="@pluginModule">@pluginModule.Name</MudSelectItem>
						}
						</MudSelect> 
					</MudTd>
					<MudTd>
						<MudIconButton Icon="@Icons.Material.Filled.Clear" aria-label="delete" Size="Size.Small"></MudIconButton>
					</MudTd>
				</RowTemplate>
			</MudTable> 
 		</MudItem>

		<!-- Deuxième Colonne -->
		<MudItem sm="4" Class="border-solid border-2 mud-border-primary pa-4">

			@* <MudStack>
				<MudStack Row AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
					<MudText>Price per 1000 calories</MudText>
					<div>
						<MudNumericField OnBlur="UpdateUser" T="decimal" @bind-Value="user.CalorieCost" HideSpinButtons="true" Variant="Variant.Outlined" Style="width: 40px;" />
					</div>
				</MudStack>
				<MudStack Justify="Justify.SpaceBetween" Row="true" Spacing="3" AlignItems="AlignItems.Center">
					<MudText>Profit percentage</MudText>
					<div>
						<MudNumericField OnBlur="UpdateUser" T="decimal" @bind-Value="user.ProfitMargin" HideSpinButtons="true" Variant="Variant.Text" Style="width: 40px;" />
					</div>
				</MudStack>
			</MudStack> *@

		</MudItem>

		<!-- Troisième Colonne -->
		<MudItem xs="12" sm="4" Class="border-solid border-2 mud-border-primary pa-4">
			<MudSelect T="Recipe" Text="Choisissez vos recettes" SelectedValues=selectedRecipes Label="Choisissez vos recettes" MultiSelection="true" Dense="true" Variant="Variant.Outlined" SelectedValuesChanged="OnSelectedRecipesChanged" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
				@foreach (var recipe in ServerDataService.Recipes)
				{
					<MudSelectItem T="Recipe" Value="@recipe">@recipe.Name</MudSelectItem>
				}
			</MudSelect>

			<MudTable Items="userRecipes" Dense="true">
				<HeaderContent>
					<MudTh>Name</MudTh>
					<MudTh>Price</MudTh>
					<MudTh>Hide</MudTh>
				</HeaderContent>
				<RowTemplate>
					<MudTd>@context.Name</MudTd>
					<MudTd>
					</MudTd>
					<MudTd>
						<MudIconButton Icon="@Icons.Material.Filled.Clear" aria-label="delete" Size="Size.Small"></MudIconButton>
					</MudTd>
			</RowTemplate>
		</MudTable>
		</MudItem>

	</MudGrid>
</MudContainer>

@code {
	private IEnumerable<Skill> selectedSkills { get; set; } = new HashSet<Skill>();
	private IEnumerable<Recipe> selectedRecipes { get; set; } = new HashSet<Recipe>();
	private IEnumerable<UserSkill> userSkills { get; set; } = new HashSet<UserSkill>();

	private IEnumerable<CraftingTable> selectedCraftingTables { get; set; } = new HashSet<CraftingTable>();
	private IEnumerable<UserCraftingTable> userCraftingTables { get; set; } = new HashSet<UserCraftingTable>();

	private IEnumerable<Recipe> userRecipes { get; set; } = new HashSet<Recipe>();

	protected override async Task OnInitializedAsync()
	{
		// TODO: move to a better location
		await DbContext.Database.EnsureCreatedAsync();
	}

	private async Task OnSelectedSkillsChanged(IEnumerable<Skill> newSelectedSkills)
	{
		// Mettre à jour la sélection localement
		selectedSkills = newSelectedSkills;

		// Mettre à jour les compétences dans la base de données (conversion en List)
		await UserSkillDbService.UpdateUserSkillsAsync(ContextService.CurrentUserServer, selectedSkills.ToList());

		userSkills = await UserSkillDbService.GetUserSkillsByUserAsync(ContextService.CurrentUserServer);

		// Récupère la liste des tables de craft correspondant aux skills sélectionné
		var selectedTable = userSkills
			.SelectMany(us => us.Skill.Recipes)
			.Select(y => y.CraftingTable)
			.Distinct();

		selectedCraftingTables = selectedTable.ToList();

		// Mettre à jour les compétences dans la base de données (conversion en List)
		await UserCraftingTableDbService.UpdateUserCraftingTablesAsync(ContextService.CurrentUserServer, selectedCraftingTables.ToList());

		userCraftingTables = await UserCraftingTableDbService.GetUserCraftingTablesByUserAsync(ContextService.CurrentUserServer);

		userRecipes = ContextService.CurrentUser.GetAvailableRecipes();

	}

	private async Task OnSelectedRecipesChanged(IEnumerable<Recipe> newSelectedRecipes)
	{
		selectedRecipes = newSelectedRecipes;
	}

	private async Task OnSelectedCraftingTablesChanged(IEnumerable<CraftingTable> newSelectedCraftingTables)
	{
		// Mettre à jour la sélection localement
		selectedCraftingTables = newSelectedCraftingTables;

		// Mettre à jour les compétences dans la base de données (conversion en List)
		await UserCraftingTableDbService.UpdateUserCraftingTablesAsync(ContextService.CurrentUserServer, selectedCraftingTables.ToList());

		userCraftingTables = await UserCraftingTableDbService.GetUserCraftingTablesByUserAsync(ContextService.CurrentUserServer);
	}

	private async Task OnLevelChanged(UserSkill userSkill, int newLevel)
	{
		// Mettre à jour le niveau de la compétence dans la base de données
		userSkill.Level = newLevel;
		await UserSkillDbService.UpdateAsync(userSkill);

		userRecipes = ContextService.CurrentUser.GetAvailableRecipes();
	}

	private async Task OnSelectedPluginModuleChanged(UserCraftingTable userCraftingTable, PluginModule newUpgrade)
	{
		userCraftingTable.PluginModule = newUpgrade;
		// Mettre à jour le niveau de la compétence dans la base de données
		await UserCraftingTableDbService.UpdateAsync(userCraftingTable);
	}
	
	/*private async Task DeleteUserSkill(int userSkillId)
		{
		// Appel au service pour supprimer la compétence de l'utilisateur
		await UserSkillService.DeleteUserSkillAsync(userSkillId);

		// Charger les compétences de l'utilisateur à partir de l'objet user
		userSkills = await UserSkillService.GetUserSkillsByUserAsync(user);

		// Initialiser selectedSkills en tant que HashSet
		selectedSkills = new HashSet<Skill>(userSkills.Select(x => x.Skill));
				}*/
}
